<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Extension Configuration</title>
  </head>
  <style>
    input:invalid {
      border: 1px solid red;
    }
  </style>
  <body>
    <label>
      Conversion Tracking ID
      <input id="conversionId" type="text" required autofocus>
      (Required)
    </label>
    </br>
    <label>
      <input id="preventAddingVisitor" type="checkbox">
      Prevent gtag.js from adding website visitors to your remarketing lists. (optional)
    </label>
    </br>
    <label>
      <input id="preventCookies" type="checkbox">
      Prevent gtag.js from setting first-party cookies on your site's domain. (optional)
    </label>
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var conversionIdInput = document.querySelector('#conversionId');
      var preventAddingVisitor = document.querySelector('#preventAddingVisitor');
      var preventCookies = document.querySelector('#preventCookies');

      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            conversionIdInput.value = info.settings.conversionId,
            preventAddingVisitor = info.settings.preventAddingVisitor,
            preventCookies = info.settings.preventCookies
          }
        },

        getSettings: function() {
          return {
            conversionId: conversionIdInput.value,
            preventAddingVisitor: preventAddingVisitor.value,
            preventCookies: preventCookies.value
          }
        },

        validate: function() {
          return conversionIdInput.checkValidity();
        }
      });
    </script>
  </body>
</html>
