<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Action Configuration</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="../resources/css/trackConversion.css">
  <link rel="stylesheet" href="../resources/css/font-awesome.min.css">
  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script src="../resources/js/form.js"></script>
</head>
<body>
  <h1>Configure New Conversion Tracker</h1>
  <div id="root"></div>
  <script>
    Form.create({
      conversionId: {
        title: 'Converstion ID',
        required: true
      },
      conversionLabel: {
        title: 'Conversion Label',
        required: true
      },
      conversionValue: {
        title: 'Conversion Value'
      },
      currencyCode: {
        title: 'Currency Code'
      },
      orderId: {
        title: 'Order ID'
      }
    }, document.getElementById('root'));
  </script>
</body>
</html>